:root {
  --white: #ffffff;
  --black: #000000;
  --special-font-color: #333333;
  --main-color: #83b3d3;
  --special-color: #756257;
  --special-background-color: rgba(131, 179, 211, 0.12);
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.page {
  height: 100%;
  background-color: #f2f2f2;
}

.page-body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: var(--black);
  min-height: 100%;
}

.page-body-style {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 16px 15px;
  color: var(--white);
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  border: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
}

.button-small {
  padding: 9px 15px 8px;
  border-radius: 4px;
}

.button-large {
  font-size: 20px;
  line-height: 36px;
  padding: 12px 34px;
  border-radius: 10px;
}

.button-main {
  background-color: var(--main-color);
}

.button-main:hover {
  background-color: #68a2ca;
}

.button-main:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.button-main:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.button-special {
  background-color: var(--special-color);
  color: var(--white);
}

.button-special:hover {
  background-color: #615048;
}

.button-special:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.button-special:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
}

.page-header {
  padding: 13px 70px 14px 239px;
  background-color: var(--white);
}

.navigation {
  position: relative;
  display: flex;
  margin: 0 auto;
}

.navigation-logo {
  position: absolute;
  z-index: 1;
  display: block;
  width: 139px;
  height: 70px;
  top: -13px;
  left: -169px;
  cursor: default;
}

.navigation-logo-inner {
  cursor: pointer;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 530px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 7px 17px 5px 17px;
  font-weight: 700;
  text-align: center;
  text-decoration: none
}

.navigation-link:hover .navigation-icon {
  fill: var(--special-color);
}

.navigation-link:active .navigation-icon {
  fill: rgba(117, 98, 87, 0.3);
}

.navigation-main .navigation-link {
  color: var(--black);
}

.navigation-main .navigation-link:hover {
  color: var(--special-color);
}

.navigation-main .navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link[aria-current] {
  position: relative;
  color: var(--black);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.navigation-link[aria-current]:hover {
  cursor: default;
  color: var(--black);
}

.navigation-link[aria-current]::before {
  position: absolute;
  z-index: 1;
  bottom: 0;
  top: 51px;
  right: 17px;
  left: 17px;
  height: 2px;
  background-color: var(--special-color);
  content: "";
}

.navigation-user {
  justify-content: flex-end;
  width: 320px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
  padding: 9px 11px 8px 11px;
}

.navigation-icon {
  display: block;
  width: 20px;
  height: 20px;
}

.navigation-link-favourites {
  position: relative;
  margin-right: 20px;
}

.navigation-icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px;
  left: 24px;
  min-width: 20px;
  height: 20px;
  background-color: #7db550;
  border-radius: 50%;
  font-size: 10px;
  line-height: 13px;
  color: var(--white);
}

.navigation-link:active .navigation-icon-circle {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-button {
  min-width: 160px;
  min-height: 37px;
}

.page-main {
  background-color: var(--white);
}

.intro {
  position: relative;
  padding: 51px 70px 82px;
  height: 352px;
  background-image: url("../images/background/index-logo-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #3f5e72;
}

.intro::after {
  position: absolute;
  background-image: url("../images/logo/index-welcome-vector.svg");
  content: "";
  width: 100%;
  height: 57px;
  bottom: 0;
  left: 0;
}

.intro-image {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

.causes {
  padding-top: 63px;
}

.causes-holder {
  padding: 0 240px;
  margin-bottom: 80px;
  text-align: center;
}

.causes-title {
  margin: 0;
  margin-bottom: 31px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.causes-text {
  margin: 0;
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
}

.causes-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: section;
}

.causes-item-main {
  display: flex;
  flex-wrap: wrap;
  color: var(--white);
}

.causes-item-text-holder {
  box-sizing: border-box;
  padding: 97px 90px 87px;
  width: 400px;
  background-color: #83b3d3;
  text-align: center;
}

.causes-item-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.causes-item-title::after {
  display: block;
  counter-increment: section;
  content: "— №"counter(section) "—";
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin-top: 29px;
}

.causes-item-text {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.causes-item-image-holder {
  width: 800px;
  min-height: 384px;
}

.causes-image {
  max-width: 100%;
  object-fit: contain;
  margin-bottom: -7px;
}

.causes-item-submain {
  box-sizing: border-box;
  width: 33.33%;
  padding: 98px 75px 108px;
  text-align: center;
}

.causes-item-submain:nth-child(odd) {
  background-color: var(--special-background-color);
}

.causes-item-submain:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  list-style-type: none;
}

.advantages-item {
  width: 250px;
  padding: 184px 75px 89px;
  color: var(--black);
  background-repeat: no-repeat;
  background-position: center 78px;
}

.advantages-item-housing {
  background-image: url("../images/causes/housing.svg");
}

.advantages-item-eating {
  background-image: url("../images/causes/eating.svg");
}

.advantages-item-souvenir {
  background-image: url("../images/causes/souvenir.svg");
}

.advantages-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-text {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.advantages-item:nth-child(odd) {
  background-color: var(--special-background-color);
}

.advantages-item:nth-child(even) {
  color: var(--black);
  background-color: var(--white);
}

.offer {
  padding-top: 91px;
}

.offer-holder {
  padding: 0 240px;
  margin-bottom: 93px;
  text-align: center;
}

.offer-title {
  margin: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.offer-text {
  margin: 0;
  margin-bottom: 51px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.offer-holder a {
  min-width: 575px;
  margin-top: 5px;
}

.page-footer {
  background-color: var(--white);
}

.subscribe {
  padding: 94px 0 89px;
  background-image: url("../images/background/index-subscription-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #3f5e72;
  color: var(--white);
  text-align: center;
}

.subscribe-holder {
  padding: 0 350px;
  margin-bottom: 46px;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.subscribe-form button {
  border-radius: 0 10px 10px 0;
}

.field-input {
  padding: 0;
  padding-left: 22px;
  border: 0;
  width: 580px;
  height: 60px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  background-color: #f2f2f2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.field-input:hover {
  background-color: #e6e6e6;
}

.field-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.field-input:focus:invalid {
  outline: 2px solid #ff5757;
}

.page-footer-container {
  display: flex;
  padding: 25px 55px 15px 55px;
}

.social {
  width: 25%;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 21px;
  padding: 0;
  list-style-type: none;
}

.footer-social-button {
  padding: 6px 6px 0;
  margin-left: 11px;
}

.footer-social-button:hover .footer-icon {
  fill: #68a2ca;
}

.footer-social-button:active .footer-icon {
  opacity: 30%;
}

.footer-social-button:focus .footer-icon {
  fill: #68a2ca;
}

.footer-social-button:focus {
  outline: 3px solid #83b3d3;
  border-radius: 6px;
}

.page-footer-address {
  width: 50%;
  text-align: center;
}

.page-footer-phone {
  display: inline-block;
  color: var(--black);
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  padding: 12px;
}

.page-footer-phone:hover {
  color: var(--special-color);
}

.page-footer-phone:active {
  opacity: 30%;
}

.page-footer-phone:focus {
  color: var(--special-color);
  outline: 3px solid #83b3d3;
  outline-offset: 0px;
  border-radius: 6px;
}

.footer-logo {
  width: 25%;
  text-align: right;
}

.htmlacademy-link {
  display: inline-block;
  padding: 15px 17px 10px;
}

.htmlacademy-link:hover .footer-icon-logo {
  fill: var(--special-color);
}

.htmlacademy-link:active .footer-icon-logo {
  opacity: 30%;
}

.htmlacademy-link:focus .footer-icon-logo {
  fill: var(--special-color);
}

.htmlacademy-link:focus {
  outline: 3px solid #83b3d3;
  border-radius: 6px;
  outline-offset: 0px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal-container-close {
  display: none;
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 61px 70px 70px;
  background-color: var(--white);
  border-radius: 30px;
  width: 575px;
  height: 429px;
}

.modal-header {
  position: relative;
  height: 50px;
  margin-bottom: 48px;
}

.modal-title {
  margin: 0;
  margin-left: -3px;
  font-family: inherit;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: -8px;
  right: 0;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:active {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button::before {
  position: absolute;
  top: 17px;
  left: 17px;
  background-image: url("../images/icons/cross.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  content: "";
}

.modal-close-button::before:active {
  opacity: 30%;
}

.field-caption {
  display: none;
}

.field-error .field-caption-error {
  display: block;
}

.field-success .field-caption-success {
  display: block;
}

.field-caption-success {
  grid-column: 2 / 3;
  font-size: 16px;
  line-height: 40px;
  align-self: center;
}

.field-caption-error {
  grid-column: 2 / 3;
  font-size: 16px;
  line-height: 40px;
  color: #ff5757;
  align-self: center;
}

.field-group {
  position: relative;
  display: grid;
  grid-template-columns: 155px 420px;
  grid-template-rows: 50px 29px;
  margin: 0;
  margin-bottom: 11px;
}

.field-date {
  display: flex;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  align-self: center;
}

.date-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  background-image: url("../images/icons/date.svg");
  width: 20px;
  height: 20px;
  opacity: 30%;
  border: none;
}

.auth-form-field {
  height: 50px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  padding: 0;
  padding-left: 19px;
  font-family: inherit;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  -webkit-appearance: textfield;
          appearance: textfield;
}

.auth-form-field:hover {
  background-color: #e6e6e6;
}

.auth-form-field:active {
  background-color: var(--white);
  outline: 2px solid var(--black);
}

.auth-form-field:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.auth-form-field::-webkit-input-placeholder {
  color: var(--black);
}

.auth-form-field:-moz-placeholder {
  color: var(--black);
}

.auth-form-field::-webkit-outer-spin-button,
.auth-form-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.auth-form-field-date[placeholder]::after {
  position: absolute;
  background-image: url("../images/icons/date.svg");
  width: 20px;
  height: 20px;
  content: "";
}

.field-group-container {
  display: grid;
  grid-template-columns: 288px 287px;
  margin-bottom: 41px;
}

.field-group-client {
  position: relative;
  margin: 0;
  display: grid;
  grid-template-columns: 153px 133px;
}

.field {
  width: 133px;
  text-align: center;
  padding: 0;
}

.field:hover {
 background-color: #f2f2f2;
}

.field:active {
  background-color: #f2f2f2;
  outline: none;
}

.field:focus {
  background-color: #f2f2f2;
  outline: none;
}

.button-volume {
  border: none;
  opacity: 30%;
}

.button-volume:hover {
  background-color: transparent;
  opacity: 100%;
}

.button-volume:active {
  opacity: 20%;
}

.button-volume:focus {
 opacity: 100%;
 outline: 3px solid #83b3d3;
 border-radius: 4px;
}

.button-min {
  position: absolute;
  padding: 5px;
  right: 98px;
  top: 14px;
  background-image: url("../images/icons/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  content: "";
}

.button-max {
  position: absolute;
  padding: 10px;
  right: 16px;
  top: 15px;
  background-image: url("../images/icons/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 13px;
  height: 13px;
  content: "";
}

.field-date-children {
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.tooltip-toggle {
  display: block;
  border: none;
  padding: 0;
  margin-top: 10px;
  margin-right: 18px;
  width: 25px;
  height: 25px;
  background-color: #83b3d3;
  background-image: url("../images/icons/info.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  content: "";
}

.tooltip-toggle:hover {
  background-color: #68a2ca;
}

.tooltip-text {
  position: absolute;
  top: 54px;
  right: 36px;
  padding: 20px 18px 23px 22px;
  min-width: 216px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--white);
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text:after {
  content:'';
  background-image: url("../images/icons/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position:absolute;
  bottom: 100%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

.auth-form-button {
  min-width: 575px;
  font-size: 20px;
  line-height: 40px;
  height: 60px;
}

.main-inner {
  background-color: var(--white);
}

.inner-header {
  background-image: url("../images/background/catalog-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: var(--white);
  background-color: #3f5e72;
}

.inner-header-container {
  padding: 44px 72px 61px 71px;
}

.inner-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-top: -1px;
  margin-bottom: 45px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item::after {
  position: absolute;
  background-image: url("../images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  opacity: 30%;
  content: "";
  width: 5px;
  height: 8px;
  top: 10px;
  left: 25px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link:hover {
  opacity: 60%;
}

.breadcrumbs-link:active {
  opacity: 10%;
}

.breadcrumbs-link:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}


.breadcrumbs-link-home {
  width: 12px;
  height: 12px;
  background-image: url("../images/icons/home.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 18px;
  padding: 0 8px;
  content: "";
}

.breadcrumbs-link-hotel {
  margin-left: 6px;
  color: var(--white);
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
}

.catalog-filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-filter-holder-left {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
}

.catalog-filter-holder-right {
  display: flex;
  flex-wrap: wrap;
  max-width: 540px;
}

.catalog-filter-group {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  border: none;
  max-width: 200px;
}

.catalog-filter-group:not(:last-child) {
  margin-right: 67px;
}

.catalog-filter-title {
  font-weight: 700;
  padding: 0;
  margin-bottom: 28px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 10px;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: var(--white);
  border-radius: 4px;
}

.control:hover .control-mark-checkbox {
  opacity: 60%;
}

.control-input:disabled + .control-mark-checkbox {
  opacity: 10%;
}

.control:active .control-mark-checkbox {
  opacity: 30%;
}

.control-input:focus + .control-mark-checkbox {
  opacity: 60%;
  outline: 3px solid #83b3d3;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/icons/control-checkbox.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.control-input:checked:focus + .control-mark-radio {
  outline: 3px solid #83b3d3;
}

.catalog-filter-title-range {
  margin-bottom: 36px;
}

.range {
  margin-right: 16px;
}

.range-wrapper-inputs {
  position: relative;
  display: flex;
  margin-bottom: 27px;
}

.range-input {
  width: 105px;
  padding: 11px 18px 9px;
  font: inherit;
  font-size: 18px;
  line-height: 23px;
  color: var(--white);
  background-color: transparent;
  border: 2px solid var(--white);
  -webkit-appearance: textfield;
          appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.range-input-min {
  border-right: 1px solid var(--white);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.range-input-min:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}

.range-input-min:active {
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-right: 1px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(117, 98, 87, 1);
}

.range-input-min:focus {
  border-right: 1px solid var(--white);
  outline: 2px solid #83b3d3;
  box-shadow: inset 0px 0px 0px 2px rgba(129, 179, 210, 1);
}

.range-input-max {
  border-left: 1px solid var(--white);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.range-input-max:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
}

.range-input-max:active {
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(117, 98, 87, 1);
}

.range-input-max:focus {
  border-left: 1px solid var(--white);
  outline: 2px solid #83b3d3;
  box-shadow: inset 0px 0px 0px 2px rgba(129, 179, 210, 1);
}

.catalog-filter-label {
  position: absolute;
  opacity: 30%;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-label-min {
  top: 12px;
  left: 112px;
}

.catalog-filter-label-max {
  top: 12px;
  right: 18px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: var(--white);
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.catalog-button-holder {
  display: flex;
  flex-direction: column;
  margin-top: 57px;
}

.catalog-button-holder .button-small {
  margin-bottom: 20px;
  padding: 15px 34px;
}

.catalog-button-holder .button-small:focus {
  outline: 3px solid #ffffff;
}

.button-reset {
  min-width: 100px;
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  background-color: transparent;
  border: none;
  text-transform: none;
}

.button-reset:hover {
  opacity: 60%;
}

.button-reset:active {
  opacity: 30%;
}

.button-reset:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.page-container {
  padding: 45px 72px 0;
}

.sorting-container {
  display: flex;
  margin-bottom: 48px;
}

.hotels-found {
  width: 380px;
  margin-top: 6px;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 81px;
  max-width: 400px;
}

.select-control {
  margin-bottom: 5px;
  padding-left: 19px;
  color: var(--special-font-color);
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  min-width: 287px;
  height: 46px;
  border: none;
  outline: 2px solid #e6e6e6;
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-color: var(--white);
  -webkit-appearance: none;
          appearance: none;
  cursor: pointer;
  border-radius: 4px;
}

.select-control:hover {
  outline: 2px solid #83b3d3;
}

.select-control:active {
  opacity: 30%;
}

.select-control:focus {
  outline: 2px solid #83b3d3;
}

.card-grid-toggle-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
}

.card-grid-toggle-container a:not(:last-child) {
  margin-right: 8px;
}

.card-grid-toggle {
  margin-bottom: 5px;
  width: 48px;
  height: 48px;
  outline: 2px solid #e6e6e6;
  border-radius: 4px;
}

.card-grid-toggle:hover:not(.card-grid-toggle-current) {
  outline: 2px solid #83b3d3;
}

.card-grid-toggle:focus:not(.card-grid-toggle-current) {
  outline: 2px solid #83b3d3;
}

.card-grid-toggle-current {
  outline: 2px solid var(--black);
}

.card-grid-toggle-tile {
  background-image: url("../images/icons/tile.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.card-grid-toggle-slideshow {
  background-image: url("../images/icons/slideshow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.card-grid-toggle-list {
  background-image: url("../images/icons/list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  gap: 6px 18px;
  list-style-type: none;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
}

.hotel-card-link-image {
  display: block;
  width: 300px;
  height: 206px;
  margin-bottom: 16px;
}

.hotel-card-link-image:hover {
  opacity: 60%;
}

.hotel-card-link-image:active {
  opacity: 30%;
}

.hotel-card-link-image:focus {
  outline: 3px solid #83b3d3;
  outline-offset: 0px;
}

.hotel-card-image {
  margin-bottom: -6px;
}

.hotel-card-title {
  margin: 0;
  margin-bottom: 16px;
}

.hotel-card-link-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
}

.hotel-card-holder {
  display: grid;
  grid-template-columns: 133px 143px;
  gap: 16px 25px;
  margin-bottom: 16px;
}

.hotel-type {
  margin-right: 25px;
  font-size: 18px;
  line-height: 23px;
  color: var(--special-font-color);
}

.hotel-card-price {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: var(--special-font-color);
}

.stars-raiting-holder {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.stars-items {
  display: inline-block;
  background-image: url("../images/icons/star.svg");
  background-repeat: repeat-x;
  background-position: 0 center;
  height: 33px;
  margin-left: -2px;
}

.stars-items-four {
  width: 100px;
}

.stars-items-three {
  width: 70px;
}

.stars-items-two {
  width: 50px;
}

.raiting {
  padding: 9px 32px 10px;
  font-size: 16px;
  line-height: 21px;
  color: var(--special-font-color);
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.hotel-button-current {
  background-color: #7db54f;
}

.hotel-button-current:hover {
  background-color: #6c9e42;
}

.hotel-button-current:active {
  background-color: #6c9e42;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-button-current:focus {
  background-color: #6c9e42;
  outline: 3px solid var(--special-color);
}

.hotel-load-more {
  text-align: center;
  padding-top: 29px;
  padding-bottom: 19px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.hotel-load-button {
  min-width: 620px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 3px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 500px;
}

.pagination-item {
  margin-bottom: 8px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  text-align: center;
  min-width: 55px;
  height: 55px;
  padding: 14px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: var(--white);
  background-color: #83b3d3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-link:hover:not(.pagination-current) {
  background-color: #68a2ca;
}

.pagination-link:active:not(.pagination-current) {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link:focus:not(.pagination-current) {
  background-color: #68a2ca;
  outline: 3px solid var(--special-color);
  outline-offset: 0px;
}

.pagination-current {
  color: var(--black);
  background-color: #f2f2f2;
}

.show-hotels-holder {
  max-width: 580px;
}

.show-hotels {
  margin-right: 46px;
  align-self: center;
  font-size: 18px;
  line-height: 23px;
  color: var(--special-font-color);
}

.select-hotel {
  width: 160px;
  height: 48px;
  margin-top: 3px;
  padding-left: 17px;
  border: none;
  outline: 2px solid #e6e6e6;
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-color: var(--white);
  -webkit-appearance: none;
          appearance: none;
  cursor: pointer;
  border-radius: 4px;
}

.select-hotel:hover {
  outline: 2px solid #83b3d3;
}

.select-hotel:active {
  opacity: 30%;
}

.select-hotel:focus {
  outline: 2px solid #83b3d3;
}

.subscribe-inner {
  background-image: none;
  padding-top: 63px;
  padding-bottom: 137px;
  background-color: var(--white);
}

.subscribe-inner h2 {
  color: var(--black);
  margin-bottom: 46px;
}

.subscribe-inner p {
  color: var(--black);
}
